/* About us */
.about-us {

@media screen and (min-width: 480px) {
    & {
    padding-bottom: 60px;
    padding-top: 60px;
    display: block;
    }
}

@media screen and (min-width: 768px) {
    & {
    padding-bottom: 60px;
    padding-top: 60px;
    display: block;
    }
}

@media screen and (min-width: 1200px) {
    & {
    padding-bottom: 94px;
    padding-top: 94px;
    }
    }
}   

.about-us-list {

@media screen and (max-width: 767px) {
        & {
    display: block;
    width: 100%;
    }
}

@media screen and (min-width: 768px) {
    & {
    display: flex;
    flex-wrap: wrap;
}
}

@media screen and (min-width: 1200px) {
    & {
    display: flex;
    flex-wrap: nowrap;
}
}
}

.about-us-list-item {
@media screen and (max-width: 767px) {
    & {
    display: block;
    justify-content: center;
    align-items: center;

    }
}

@media screen and (min-width: 768px) {
    & {
    width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    & {
    width: 270px;
    }
}

}

.about-us-list-item:nth-child(2n + 1) {
@media screen and (min-width: 768px) and (max-width: 1199px) {
    &  {
        margin-right: 30px;
    }
}
}

.about-us-list-item:not(:last-child) {

@media screen and (max-width: 1199px) {
    & {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    & {
        margin-right: 30px;
    }
}
}

.about-us-list-item-icon {
display: flex;
align-items: center;
justify-content: center;
background-color: #F5F4FA;
border-radius: 4px;
width: 270px;
height: 120px;
margin: auto;
margin-bottom: 30px;

@media screen and (max-width: 767px) {
    & {
    width: 450px;
    }
}

@media screen and (min-width: 768px) {
    & {
    width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    & {
    width: 270px;
    }
}
}

.about-us-list-item-title {
margin-top: 0px;
margin-bottom: 10px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $title-text-color;

@media screen and (max-width: 1199px) {
    & {
    text-align: center;
    }
}
}

.description {
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
margin: 0;
}
