 /* Footer*/
 .footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    width:100%;

@media screen and (max-width: 767px) {
        & { display: block;
            justify-items: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

@media screen and (min-width: 768px) {
        & {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-self: baseline;
        }
    } 

@media screen and (min-width: 1200px) {
    & {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }
} 

&.container {
@media screen and (min-width: 480px) and (max-width: 767px) {
    & {
        justify-content: center;
        align-items: center;
    }
}
}



.footer-info {

@media screen and (max-width: 767px) {
    & {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
        }
    }

@media screen and (min-width: 768px)  {
    & {
            width: 232px;
            margin-left: 0;
            margin-right: 165px;
        }
    }

@media screen and (min-width: 1200px)  {
    & {
        width: 231px;
        margin-right: 69px;
    }
}

    & .logo {
        margin-bottom: 20px;
        margin-right: 0;
        color: $background-color;
    }

    & .address {
        font-style: normal;
        text-decoration: none;
        color:  rgba(255, 255, 255, 0.6)
            }
}
 }