 /* Footer*/
 .footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A; 

@media screen and (min-width: 480px) {
        & {
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

@media screen and (min-width: 768px) {
        & {
            display:flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-self: baseline;
        }
    } 

@media screen and (min-width: 1200px) {
    & {
        display:flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }
} 
    }


.footer-info {

@media screen and (min-width: 480px) {
    & {
    margin-left: auto;
    margin-right: auto;
        }
    }

@media screen and (min-width: 768px)  {
    & {
            width: 232px;
            margin-left: 0;
            margin-right: 165px;
        }
    }

@media screen and (min-width: 1200px)  {
    & {
        width: 231px;
        margin-right: 69px;
    }
}

    & .logo {
        margin-bottom: 20px;
        margin-right: 0;
        color: $background-color;
    }

    & .address {
        font-style: normal;
        text-decoration: none;
        color:  rgba(255, 255, 255, 0.6)
            }
}







