/* Hero */
.hero {
    box-sizing: border-box;
    width: 100%;

@media screen and (max-width: 767px) {
    & {
    width: 100%;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    }
}

@media screen and (min-width: 768px) {
    & {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    }
}

@media screen and (min-width: 1200px) {
    & {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    }
}

}



.overlay {
    width: 100%;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)
    ),
    url("../images/jpg/main/mobile_header_img.jpg");
        background-color: rgb(47, 48, 58);
        background-repeat: no-repeat;

@media screen and (max-width: 767px) {
    & {
        max-width: 767px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)
        ),
        url("../images/jpg/main/mobile_header_img.jpg");
        background-color: rgb(47, 48, 58);
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:767px) and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        & {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)
            ),
            url("../images/jpg/main/mobile_header_img@2x.jpg");  
            background-size: contain;
        }
}


@media screen and (min-width:768px) {
    & {
        max-width: 1199px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)
        ),
        url("../images/jpg/main/tablet_header_img.jpg");
        background-color: rgb(47, 48, 58);
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:768px) and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        & {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)
            ),
            url("../images/jpg/main/tablet_header_img@2x.jpg");  
            background-size: contain;
}
    }


@media screen and (min-width:1200px) {
    & {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)
        ),
        url("../images/jpg/main/desktop_header_img.jpg");
        background-color: rgb(47, 48, 58);
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1200px) and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        & {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)
            ),
            url("../images/jpg/main/desktop_header_img@2x.jpg");  
            background-size: contain;
}
    }
}
    

.hero-title {
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $background-color;
    @media screen and (max-width: 1199px) {
            & {
            margin-bottom: 30px;          
        }
    }

    @media screen and (min-width:1200px) {
            & {
            font-size: 44px;
            line-height: 1.36; 
            }
        }
    }
    
    .modal-button {
            background-color: $accent-color;
            color: $background-color;
            display:block;
            margin: auto;
            border: 0px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            width: 200px;
            height: 50px;
            cursor: pointer;
    }
    
    .button-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        letter-spacing: 0.06em;
        color: $background-color;
        

    @media screen and (max-width: 767px) {
        & {
        align-items: center;
        }
    }

    @media screen and (min-width:768px) {
        & {
        align-items: center;
    }
}

    @media screen and (min-width:1200px) {
        & {
            align-items: center;
    }
}
    }

    