    /* Портфолио Main*/
   .portfolio {

@media screen and  (min-width: 480px) and (max-width: 1199px) {
    & {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    & {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
    }

    .portfolio-projects {
    @media screen and (min-width: 768px) {
        & {
        display: flex;
        flex-wrap: wrap;
        }
    }
    }
    

    .portfolio-projects {
    & .portfolio-projects-list {

    @media screen and (min-width: 480px) {
        & {
            flex-wrap: wrap;
            justify-content: start;
            box-sizing: border-box;
        }
    }

    @media screen and (min-width: 480px) {
        & {
            justify-content: start;
            box-sizing: border-box;
        }
    }
        }
    }
    
    
    
    