.footer-contacts-list {
    padding-left: 0px;
}

.footer-contacts-list-item {
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: $background-color; 
margin-bottom: 9px;
}

.text-address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-color);
    }