.footer-contacts-list {
@media screen and (max-width: 767px) {
    & {
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
}

}

.footer-contacts-list-item {
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: $background-color; 
margin-bottom: 9px;
}


.text-address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-color);
    }

.footer > .address {
@media screen and (max-width:767px) {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
        }
    }
